@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  background-color: $brand-dark;
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border-top: 1px solid $border-white-5;
}

.container {
  @include container;
  text-align: center;
}

.copyright {
  color: $text-gray-600;
  font-size: 0.875rem;
}
